<html>
<head>
<script src="libs/Tone.min.js"></script>
<script src="libs/p5.min.js"></script>
<!-- <script src="tile.js"></script> -->
<!-- <script src="pianoRoll.js"></script> -->
<!-- <script src="scaleWheel.js"></script> -->
<!-- <script src="quartals.js"></script> -->
<!-- <script src="graph.js"></script> -->
<!-- <script src="scalegraph.js"></script> -->
<!-- <script src="scale.js"></script> -->

<script type="module" src="sketch.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script type="module" src="app.js"></script>

<script>

</script>
<link rel="stylesheet" type="text/css" href="styles.css">

</head>
<body>
<div class="app">
	<header id="navigation">
		<span v-bind:class="{ selectedTab: section=='scales' }" class = "tab" v-on:click="setSection('scales')">macroharmony</span>
		<span v-bind:class="{ selectedTab: section=='pent' }" class = "tab" v-on:click="setSection('pent')">5<i>n</i></span>
		<span v-bind:class="{ selectedTab: section=='triads' }" class = "tab" v-on:click="setSection('triads')"> triads</span>
		<span v-bind:class="{ selectedTab: section=='7ths' }" class = "tab" v-on:click="setSection('7ths')">7<sup>th</sup>s</span>

		<span v-bind:class="{ selectedTab: section=='quar' }" class = "tab" v-on:click="section='quar'"> 4<i>n</i></span>
	</header>
	<section v-show="section=='scales'" id="scales" class = "section">
		<div class="float">
			<div class="paths" v-show="paths.length>1">
				<a v-for="(path, index) in paths">
					<span class="path" v-bind:class="{ selectedPath: paths.indexOf(currentPath) == index }" v-on:click="selectPath(index)">{{index+1}}</span>
				</a>
			</div>
			
			<!-- <ul> -->
				<!-- <li v-for="scale in scales"> -->
					<!-- {{scale.root}}{{scale.type}} -->
					<span class="startEnd start">Start</span>
					<select v-model="scales[0].root" v-on:change="isEntryComplete()">
						<option disabled value="root">root</option>
						<option value = 0>C</option>
						<option value = 1>C&#9839;</option>
						<option value = 2>D</option>
						<option value = 3>D&#9839;</option>
						<option value = 4>E</option>
						<option value = 5>F</option>
						<option value = 6>F&#9839;</option>
						<option value = 7>G</option>
						<option value = 8>G&#9839;</option>
						<option value = 9>A</option>
						<option value = 10>B&#9837;</option>
						<option value = 11>B</option>
					</select>
					<select v-model="scales[0].type" v-on:change="isEntryComplete()">
						<option disabled value="">type</option>
						<option value = "dia">diatonic</option>
						<option value = "hm">harmonic minor</option>
						<option value = "HM">harmonic major</option>
						<option value = "oct">octatonic</option>
						<option value = "wt">whole tone</option>
						<option value = "ac">acoustic</option>
						<option value = "hex">hexatonic</option>
					</select>

					<br>

					<span class="startEnd end">End</span>
					<select v-model="scales[1].root" v-on:change="isEntryComplete()">
						<option disabled value="root">root</option>
						<option value = 0>C</option>
						<option value = 1>C&#9839;</option>
						<option value = 2>D</option>
						<option value = 3>D&#9839;</option>
						<option value = 4>E</option>
						<option value = 5>F</option>
						<option value = 6>F&#9839;</option>
						<option value = 7>G</option>
						<option value = 8>G&#9839;</option>
						<option value = 9>A</option>
						<option value = 10>B&#9837;</option>
						<option value = 11>B</option>
					</select>
					<select v-model="scales[1].type" v-on:change="isEntryComplete()">
						<option disabled value="">type</option>
						<option value = "dia">diatonic</option>
						<option value = "hm">harmonic minor</option>
						<option value = "HM">harmonic major</option>
						<option value = "oct">octatonic</option>
						<option value = "wt">whole tone</option>
						<option value = "ac">acoustic</option>
						<option value = "hex">hexatonic</option>
					</select>
					<!-- <button class = "editButton" v-on:click="addScale(scale)">+</button>
					<button class = "editButton" v-if="scales.length>2" v-on:click="removeScale(scale)">&#128465;</button> -->
				<!-- </li> -->
			<!-- </ul> -->
			

			<!-- <button class="actionButton" :disabled="!isEntryComplete()" v-on:click="getPath">
			voyage
			</button> -->
			
			<br><br>
			<button class="randomButton"  v-on:click="makeRandomSets">
			random
			</button>
			
		</div>
	</section>


	<section v-show="section=='pent'" id="pent" class = "section">
		<div class="float">
			<div class="paths" v-show="paths.length>1">
				<a v-for="(path, index) in paths">
					<span class="path" v-bind:class="{ selectedPath: paths.indexOf(currentPath) == index }" v-on:click="selectPath(index)">{{index+1}}</span>
				</a>
			</div>
			
			<!-- <ul> -->
				<!-- <li v-for="scale in scales"> -->
					<!-- {{scale.root}}{{scale.type}} -->
					<span class="startEnd start">Start</span>
					<select v-model="scales[0].root" v-on:change="isEntryComplete()">
						<option disabled value="root">root</option>
						<option value = 0>C</option>
						<option value = 1>C&#9839;</option>
						<option value = 2>D</option>
						<option value = 3>D&#9839;</option>
						<option value = 4>E</option>
						<option value = 5>F</option>
						<option value = 6>F&#9839;</option>
						<option value = 7>G</option>
						<option value = 8>G&#9839;</option>
						<option value = 9>A</option>
						<option value = 10>B&#9837;</option>
						<option value = 11>B</option>
					</select>
					<select v-model="scales[0].type" v-on:change="isEntryComplete()">
						<option disabled value="">type</option>
						<option value = "red">red</option>
						<option value = "green">green</option>
						<option value = "blue">blue</option>
					</select>

					<br>

					<span class="startEnd end">End</span>
					<select v-model="scales[1].root" v-on:change="isEntryComplete()">
						<option disabled value="root">root</option>
						<option value = 0>C</option>
						<option value = 1>C&#9839;</option>
						<option value = 2>D</option>
						<option value = 3>D&#9839;</option>
						<option value = 4>E</option>
						<option value = 5>F</option>
						<option value = 6>F&#9839;</option>
						<option value = 7>G</option>
						<option value = 8>G&#9839;</option>
						<option value = 9>A</option>
						<option value = 10>B&#9837;</option>
						<option value = 11>B</option>
					</select>
					<select v-model="scales[1].type" v-on:change="isEntryComplete()">
						<option disabled value="">type</option>
						<option value = "red">red</option>
						<option value = "green">green</option>
						<option value = "blue">blue</option>
					</select>
					<!-- <button class = "editButton" v-on:click="addScale(scale)">+</button>
					<button class = "editButton" v-if="scales.length>2" v-on:click="removeScale(scale)">&#128465;</button> -->
				<!-- </li> -->
			<!-- </ul> -->
			

			<!-- <button class="actionButton" :disabled="!isEntryComplete()" v-on:click="getPath">
			voyage
			</button> -->
			
			<br><br>
			<button class="randomButton"  v-on:click="makeRandomSets">
			random
			</button>
			
		</div>
	</section>




	<section v-show="section=='quar'" id="quar" class = "section">
		<div class="float">
			<div class="paths" v-show="paths.length>1">
				<a v-for="(path, index) in paths">
					<span class="path" v-bind:class="{ selectedPath: paths.indexOf(currentPath) == index }" v-on:click="selectPath(index)">{{index+1}}</span>
				</a>
			</div>
			
			<!-- <ul> -->
				<!-- <li v-for="scale in scales"> -->
					<!-- {{scale.root}}{{scale.type}} -->
					<span class="startEnd start">Start</span>
					<select v-model="scales[0].root" v-on:change="isEntryComplete()">
						<option disabled value="root">root</option>
						<option value = 0>C</option>
						<option value = 1>C&#9839;</option>
						<option value = 2>D</option>
						<option value = 3>D&#9839;</option>
						<option value = 4>E</option>
						<option value = 5>F</option>
						<option value = 6>F&#9839;</option>
						<option value = 7>G</option>
						<option value = 8>G&#9839;</option>
						<option value = 9>A</option>
						<option value = 10>B&#9837;</option>
						<option value = 11>B</option>
					</select>
					<select v-model="scales[0].type" v-on:change="isEntryComplete()">
						<option disabled value="">type</option>
						<option value = "earth">earth</option>
						<option value = "air">air</option>
						<option value = "fire">fire</option>
						<option value = "water">water</option>
					</select>

					<br>

					<span class="startEnd end">End</span>
					<select v-model="scales[1].root" v-on:change="isEntryComplete()">
						<option disabled value="root">root</option>
						<option value = 0>C</option>
						<option value = 1>C&#9839;</option>
						<option value = 2>D</option>
						<option value = 3>D&#9839;</option>
						<option value = 4>E</option>
						<option value = 5>F</option>
						<option value = 6>F&#9839;</option>
						<option value = 7>G</option>
						<option value = 8>G&#9839;</option>
						<option value = 9>A</option>
						<option value = 10>B&#9837;</option>
						<option value = 11>B</option>
					</select>
					<select v-model="scales[1].type" v-on:change="isEntryComplete()">
						<option disabled value="">type</option>
						<option value = "earth">earth</option>
						<option value = "air">air</option>
						<option value = "fire">fire</option>
						<option value = "water">water</option>
					</select>
					<!-- <button class = "editButton" v-on:click="addScale(scale)">+</button>
					<button class = "editButton" v-if="scales.length>2" v-on:click="removeScale(scale)">&#128465;</button> -->
				<!-- </li> -->
			<!-- </ul> -->
			

			<!-- <button class="actionButton" :disabled="!isEntryComplete()" v-on:click="getPath">
			voyage
			</button> -->
			
			<br><br>
			<button class="randomButton"  v-on:click="makeRandomSets">
			random
			</button>
			
		</div>
	</section>
</div>
</body>
</html>